
Hello There! What is your name?

# <form action="/">
#   <input type="text" name="name">
#   <input type="submit" value="Submit">
# </form>
# <div style='border: 3px dashed white'>
#   <img src='https://i.pinimg.com/originals/83/ed/78/83ed78ec427c41da13e39cda73acc964.jpg>
# </div>