<style>
body {
  background-color: AFEEEE;
}

h1 {
  color: black;
  font-size: 40px;
  font-family: Verdana
}

h2 {
  color: black;
  font-size: 30px
  font-family: Verdana

}

.all{
    margin-top: 150px;
    #margin-left: 500px;
    text-align: center;
}
</style>

<div class= "all">
<h1>Hello there!</h1>
<h2>What is your name?</h2>

<form action="/details" method="post">
  <input type="text" name="name">
  <h2>When is your birthday?</h2>
  day: <input type="text" name="day"> 
  month: <input type="text" name="month"> 
  <input type="submit" value="Go!">
</form>
</div>



  






